header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template: auto auto / auto auto;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
}

header nav {
    display: grid;
    grid-template-rows: 100%;
}